<!DOCTYPE html>

<!--copied tmeplate from checkers game-->
<html>

<head>
<title>Sew Together</title>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<!-- Load style sheets -->
<%= stylesheet_link_tag :dashboard %>

<!-- Load any supplemental Javascript libraries here -->
<% content_for :head do %>
	<%= javascript_include_tag :dashboard %>
<% end %>

</head>

<body>

<%= render 'nav_bar' %>
<h1 id="title">Dashboard
<% if flash[:notice] %>
		<div id="notice" class="greeting"><%= flash[:notice] %></div>
<% end %>
</h1>

<div id="dashboard">
<div class="menuElementRow">
<div class = "menuElement MELeft">
<div id="currentProjects" class="menuTitle category"><a class="noUnderline whiteText" href="">Current Projects</a></div>
<%current_user.projects.each do |p|%>
	<% s = curr_step(current_user,p) %>
	<% iden = p.name.split.join + "progress" %>
	<%if s < p.num_steps %>
		<ul>
			<li>
				<%= link_to project_path(p, :part => nav_to_step(s, p.num_steps)) do %> 
					<%=p.name%>
					<%= content_tag :div, class: :progressbar, data: {percent: s.to_f/p.num_steps.to_f} do %>
					<%end%>
				<%end%>
			</li>
		</ul>
	<%end%>
<%end%>
</div>
<div class = "menuElement MERight">
<div id="pastProjects" class="menuTitle"><a class="noUnderline whiteText" href="">Past Projects</a></div>
<ul>
<%current_user.projects.each do |p|%>
	<% s = curr_step(current_user,p) %>
	<%if s == p.num_steps %>
		<ul>
			<li><%= link_to p.name, project_path(p, :part => "overview") %>
		</ul>
	<%end%>
<%end%>
</ul>
</div>
<div class="clearFloat"></div>
</div>
<div class="menuElementRow">
<div class = "menuElement MELeft">
<div id="friends" class="menuTitle"><a class="noUnderline whiteText" href="">Friends</a></div>
<ul>
<li> Kaleb
<li> Alice
<li> Tristan
</ul>
</div>
<div class = "menuElement MERight">
<!--<div id="interestingProjects" class="menuTitle"><a class="noUnderline whiteText" href="">Interesting Projects</a></div>
<ul>
<li> Stuffed Penguin
<li> Kitty Ear Hat
</ul>-->
</div>
<div class="clearFloat"></div>
</div>
</div>
</body>

</html>
