<!DOCTYPE html>

<!--
  MEMBERS: Tristan Daniels, Xingyi Li, Kaleb Ayalew
-->
<!--copied tmeplate from checkers game-->
<!--
http://railscasts.com/episodes/8-layouts-and-content-for 
http://stackoverflow.com/questions/1202654/how-do-i-make-an-image-link-tag-using-haml-in-rails
http://apidock.com/rails/ActionView/Helpers/AssetTagHelper/image_tag
-->
<html>

<head>
<title>Sewing Basics - Sew Together</title>

<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<!-- Load style sheets -->
<%= stylesheet_link_tag :search %>
<%= stylesheet_link_tag :glossary %>

<!-- Load javascript libraries here -->
<% content_for :head do %>
	<%= javascript_include_tag :sewing_help %>
<% end %>
</head>




<body onload="start();">
<table id="mainTable">
	<tr><td id="navCell" colspan="2">
		<%= render 'nav_bar' %>
		<h1 id="title">Sewing Basics</h1>
	<td><tr>
	<tr>
		<td></td>
        <td id="searchBox">
			<!-- Note: not within form. Check if this is problematic-->
			<input id = "query" name="queryValue" type="text" onkeyup="searchIfEnter(event)">
			<input id = "searchButton" name="searchValue" type="button" onclick="refreshResults([])" value="Search">
		</td>
    </tr>
	<tr>
		<td id = "sidebar" class="sidebarWidth">
			<div id="filterCollection">
			</div>
		</td>
		<td id="results">
		
			<div id="glossary-blanket-stitch-tabs">
				<ul>
					<li><a href="#glossary-blanket-stitch-definition">Blanket Stitch</a></li>
					<li><a href="#glossary-blanket-stitch-video">Video</a></li>
				</ul>
				<div class="glossaryContent" id="glossary-blanket-stitch-definition">
					<p>A decorative stitch visible on both sides, traditionally used to reinforce the edge of thick materials such as blankets.</p>
					<%= image_tag "sewing_help/blanket.png"%>
					<p><a href="http://www.futuregirl.com/craft_blog/2007/9/tutorial-hand-sew-felt.aspx" target="_blank">More on blanket stitch</a></p>
				</div>
				<div class="glossaryContent" id="glossary-blanket-stitch-video">
					<div class="videoPlaceholder" id="videoPlaceholder-blanket-stitch">http://www.youtube.com/embed/eXkSE2TTF4s</div>
				</div>
			</div>
			<div id="glossary-tie-off-tabs">
				<ul>
					<li><a href="#glossary-tie-off-definition">Tying off</a></li>
					<li><a href="#glossary-tie-off-video">How to tie off</a></li>
				</ul>
				<div class="glossaryContent" id="glossary-tie-off-definition">
					<p><a href="http://wiki.answers.com/Q/How_do_you_finish_at_the_end_of_a_hand_sewing_stitch" target="_blank">Tying off hand sewing</a></p>
				</div>
				<div class="glossaryContent" id="glossary-tie-off-video">
					<div class="videoPlaceholder" id="videoPlaceholder-tie-off">http://www.youtube.com/embed/AhEUqBSgwjI</div>
				</div>
			</div>	
			<div id="glossary-needle-threader-tabs">
				<ul>
					<li><a href="#glossary-needle-threader-definition">Needle Threader</a></li>
					<li><a href="#glossary-needle-threader-video">Video</a></li>
				</ul>
				<div class="glossaryContent" id="glossary-needle-threader-definition" height="400">
					<p><a href="http://sewing.about.com/od/notions/ss/needlethreader.htm" target="_blank">How to use a needle threader</a></p>
				</div>
				<div class="glossaryContent" id="glossary-needle-threader-video">
					<div class="videoPlaceholder" id="videoPlaceholder-needle-threader">http://www.youtube.com/embed/60yNPG_eAMc</div>
				</div>
			</div>	
			<div id="glossary-running-stitch-tabs">
				<ul>
					<li><a href="#glossary-running-stitch-definition">Running Stitch</a></li>
					<li><a href="#glossary-running-stitch-video">Video</a></li>
				</ul>
				<div class="glossaryContent" id="glossary-running-stitch-definition">
					<p>A basic hand-sewing stiched, worked by passing the needle in and out of the fabric.</p>
					<%= image_tag "sewing_help/running.png"%>
					<p><a href="http://www.holiday-crafts-and-creations.com/running-stitch.html" target="_blank">More on running stitch</a></p>
				</div>
				<div class="glossaryContent" id="glossary-running-stitch-video">
					<div class="videoPlaceholder" id="videoPlaceholder-running-stitch">http://www.youtube.com/embed/k6657ZhHWgI</div>
				</div>
			</div>
			<div id="glossary-thread-needle-tabs">
				<ul>
					<li><a href="#glossary-thread-needle-definition">Tips</a></li>
					<li><a href="#glossary-thread-needle-video">Video</a></li>
				</ul>
				<div class="glossaryContent" id="glossary-thread-needle-definition" height="400">
					<p><a href="http://www.sew4home.com/tips-resources/sewing-tips-tricks/hand-sewing-thread-needle-tie-knot" target="_blank">Tips on threading needles by hand</a></p>
				</div>
				<div class="glossaryContent" id="glossary-thread-needle-video">
					<div class="videoPlaceholder" id="videoPlaceholder-thread-needle">http://www.youtube.com/embed/1EE55f6ePaA</div>
				</div>
			</div>		
			
		
			
			
		</td>
	</tr>
   </table>
</body>

</html>
