<div id="tabContent">

	<div id="overview">
	
		<div id="overviewText">
			
			<div id="listOfSteps">
				<h3>Steps</h3>
				<ol>
					<li><%= link_to project_path(@project,:part => "step1") do %>Cut out templates and fabric <span class="ui-icon ui-icon-circle-arrow-e inlineArrow"></span><% end %></li>
					<li><%= link_to project_path(@project,:part => "step2") do %>Sew the side of the roll to the bottom <span class="ui-icon ui-icon-circle-arrow-e inlineArrow"></span><% end %></li>
					<li><%= link_to project_path(@project,:part => "step3") do %>Sew the cream spirals onto the cake fronts <span class="ui-icon ui-icon-circle-arrow-e inlineArrow"></span><% end %></li>
					<li><%= link_to project_path(@project,:part => "step4") do %>Stitch the cake fronts on, leaving a small opening <span class="ui-icon ui-icon-circle-arrow-e inlineArrow"></span><% end %></li>
					<li><%= link_to project_path(@project,:part => "step5") do %>Stuff the roll, then sew opening closed <span class="ui-icon ui-icon-circle-arrow-e inlineArrow"></span><% end %></li>
					
				</ol>
			</div>
			<%= link_to project_path(@project,:part => "step1"), :class => "noUnderline" do %>
				<div id="begin" class="myButton">Begin!</div>
			<% end %>
			
			
			
		</div>

		<div id="overviewImages">
			<%= image_tag "projects/strawberry-cream-roll/roll.JPG" %>
		</div>
	
		<div class="clearFloat"></div>
	</div>
	
</div>