<div id="tabContent" class="step">
	
		<div id="stepText">
			<h3>Step 1 of 2</h3>
			<p>Ut laoreet velit quis ante convallis facilisis sed a mi. Cras nec laoreet nisi. Aliquam nibh quam, pretium sit amet rhoncus id, consequat sit amet tortor. In eget dui risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id mi felis, eget sagittis lorem. Etiam ac eros neque. Mauris elementum sagittis enim, a tempus massa imperdiet eu. In aliquam mauris nec ante pulvinar a varius magna venenatis. Mauris dolor ligula, laoreet in pulvinar et, condimentum ac velit.</p>

		
		<div id="helpful">
		<h4>Sewing help</h4>

		<ul>
			<li><span class="glossaryTerm thread-needle-click">Threading a needle</span></li>
			<li><span class="glossaryTerm needle-threader-click">Using a needle threader</span></li>
			<li><span class="glossaryTerm blanket-stitch-click">Blanket stitch</span></li>
			<li><span class="glossaryTerm tie-off-click">Tying off hand sewing</span></li>
		</ul>
		</div>		
			
			
			<div id="stepNavigation">
				<%= render 'step_navigation', :prev_step => "instructions", :next_step => "step2" %>
			</div>
			<%= render "comments/comments" %>
		</div>
		
		<div id="stepImages">
			<%= image_tag "projects/sundress/greydress.jpg" %>
		</div>
		
		<div class="clearFloat"></div>
</div>

	<%= render 'glossary/glossary-thread-needle' %>
	<%= render 'glossary/glossary-needle-threader' %>
	<%= render 'glossary/glossary-blanket-stitch' %>
	<%= render 'glossary/glossary-tie-off' %>