<div id="tabContent" class="step">

	<div id="stepText">
		<h3>Step 2 of 2</h3>
		<p>Vestibulum justo enim, luctus ac sollicitudin ut, pellentesque sit amet lectus. Quisque tincidunt aliquet ante posuere eleifend. Proin rutrum tellus at mi suscipit ultrices. Maecenas ac molestie velit. Suspendisse in est id lorem pretium aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc sed neque a lectus feugiat faucibus ac eget mi. Maecenas bibendum sodales turpis id tincidunt. Aliquam aliquet orci a urna porttitor et accumsan purus vulputate. Curabitur egestas laoreet felis in dictum.</p>
		
		<div id="helpful">
		<h4>Sewing help</h4>

		<ul>
			<li><span class="glossaryTerm thread-needle-click">Threading a needle</span></li>
			<li><span class="glossaryTerm needle-threader-click">Using a needle threader</span></li>
			<li><span class="glossaryTerm blanket-stitch-click">Blanket stitch</span></li>
			<li><span class="glossaryTerm tie-off-click">Tying off hand sewing</span></li>
		</ul>
		</div>
		
		<div id="stepNavigation">
			<%= render 'step_navigation', :prev_step => "step1" %>
		</div>		
		<%= render "comments/comments" %>
		
	</div>	
	
	<div id="stepImages">
		<%= image_tag "projects/sundress/greydress.jpg" %>
	</div>
	
	<div class="clearFloat"></div>

	<%= render 'glossary/glossary-thread-needle' %>
	<%= render 'glossary/glossary-needle-threader' %>
	<%= render 'glossary/glossary-blanket-stitch' %>
	<%= render 'glossary/glossary-tie-off' %>

</div>