<% if current_user != nil %>
	<% if current_user.projects.include?(@project) %>
		<div id="progressMarker">
		Step completed?
		<% if saved_step(current_user,@project) > current_step(@part) %>
			<%= link_to(select_project_path @project, :part => @part, :remote => true) do %>
				<%= image_tag "checkedoff.png", :id=>"checkbox" %>
			<% end %>
		<% else %>
			<%= link_to(select_project_path @project, :part => @part, :remote => true) do %>
				<%= image_tag "notcheckedoff.png", :id=>"checkbox" %>
			<% end %>
		<% end %>
		</div>
		<div class="clearFloat"></div>
	<% end %>
<% end %>



<div id="stepNavigation">
<% if defined?(prev_step)%>
	<%= link_to project_path(@project,:part => prev_step) do %>
		<span id="stepBack" class="myButton">&lt;&lt; Back</span>
	<% end %>
<% end %>

<% if defined?(next_step)%>
	<%= link_to project_path(@project,:part => next_step) do %>
		<span id="stepNext" class="myButton">Next &gt;&gt;</span>
	<% end %>
<% elsif current_user != nil and is_tracking?(current_user,@project) %>
	<%= link_to(select_project_path @project, :part => "x"+@part, :remote => true) do %>
		<span id="stepNext" class="myButton">Mark as completed!</span>
	<% end %>
<% end %>
<div class="clearFloat"></div>

</div>