<div id="tabContent" class="step">
	<div id="stepText">
		<h3>Step 5 of 5</h3>
		<p>Stuff the roll, then sew the opening closed with <span class="glossaryTerm blanket-stitch-click">blanket stitch</span>.</p>

		<div id="helpful">
		<h4>Sewing help</h4>
		<ul>
			<li><span class="glossaryTerm blanket-stitch-click">Blanket stitch</span></li>
			<li><span class="glossaryTerm tie-off-click">Tying off hand sewing</span></li>
		</ul>
		</div>
		
		<div id="stepNavigation">
			<%= render 'step_navigation', :prev_step => "step4"%>
			<div class="clearFloat"></div>
		</div>		
		
	</div>	
	
	<div id="stepImages">
		<%= image_tag "projects/strawberry-cream-roll/step5diagram.png" %>
		<%= image_tag "projects/strawberry-cream-roll/step5-1.JPG" %>
		<%= image_tag "projects/strawberry-cream-roll/roll.JPG" %>
	</div>
	
	<div class="clearFloat"></div>
	
	<%= render 'glossary/glossary-blanket-stitch' %>
	<%= render 'glossary/glossary-tie-off' %>
	
</div>