<div id="tabContent" class="step">

	<div id="stepText">
		<h3>Step 3 of 5</h3>
		<p>With the white thread, sew the two cream spirals to the cake fronts with a <span class="glossaryTerm running-stitch-click">running stitch</span> as shown.</p>
		
		<div class="warning"><p>Make sure the swirls are mirrored!</p></div>
		
		<div id="helpful">
		<h4>Sewing help</h4>
		<ul>
			<li><span class="glossaryTerm thread-needle-click">Threading a needle</span></li>
			<li><span class="glossaryTerm needle-threader-click">Using a needle threader</span></li>
			<li><span class="glossaryTerm running-stitch-click">Running stitch</span></li>
			<li><span class="glossaryTerm tie-off-click">Tying off hand sewing</span></li>
		</ul>
		</div>
		
		<div id="stepNavigation">
			<%= render 'step_navigation', :prev_step => "step2", :next_step => "step4" %>
		</div>	

			<div id="comments">
				<h5>Comments</h5>
				
				<div id="newComment" class="myButton">Add new comment</div>
			</div>		
	</div>	
	
	<div id="stepImages">
		<%= image_tag("projects/strawberry-cream-roll/step3diagram.png") %>
		<%= image_tag "projects/strawberry-cream-roll/step3-1.JPG" %>
		<%= image_tag "projects/strawberry-cream-roll/step3-2.JPG" %>
	</div>
	
	<div class="clearFloat"></div>
	
	<%= render 'glossary/glossary-thread-needle' %>
	<%= render 'glossary/glossary-needle-threader' %>
	<%= render 'glossary/glossary-running-stitch' %>
	<%= render 'glossary/glossary-tie-off' %>
	
</div>