<!DOCTYPE HTML>
<!--http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html#method-i-link_to
for interesting link tos
http://stackoverflow.com/questions/7806133/how-do-i-check-if-a-variable-is-defined-in-rails-->
<html>

<head>
	<title>Strawberry Cream Roll - Sew Together</title>
	
	<!--stuff-->
	<%= stylesheet_link_tag :overview %>
	<%= stylesheet_link_tag :project %>
	<%= stylesheet_link_tag :steps %>
	<%= stylesheet_link_tag :glossary %>
	
	<% content_for :head do %>
		<%= javascript_include_tag :steps %>
		<%= javascript_include_tag :glossary %>
	<% end %>
</head>

<body>
<%= render 'nav_bar' %>


<!--Tabs-->
<div id="pageContent">
<h1 id="title">Strawberry Cream Roll</h1>
	<div id="tabs">
		<ul>
			<%= link_to projects_path(:part => "overview") do %>
				<li class="projectActiveTab">Overview</li>
			<% end %>
			<%= link_to projects_path(:part => "instructions") do %>
				<li>Instructions</li>
			<% end %>
			
			<div id="stepNavigationInstruction">
				
			
			</div>
			
		</ul>
		
	</div>

	<!-- replaces tab content-->
	<%= render part %>

	<div class="clearFloat"></div>
	</div>
	
</body>
</html>