<p id="notice"><%= notice %></p>

<!DOCTYPE HTML>
<!--http://api.rubyonrails.org/classes/ActionView/Helpers/UrlHelper.html#method-i-link_to
for interesting link tos
http://stackoverflow.com/questions/7806133/how-do-i-check-if-a-variable-is-defined-in-rails-->
<html>

<head>
	<title><%= @project.name %> - Sew Together</title>
	
	<!--stuff-->
	<%= stylesheet_link_tag :overview %>
	<%= stylesheet_link_tag :project %>
	<%= stylesheet_link_tag :steps %>
	<%= stylesheet_link_tag :glossary %>
	
	<% content_for :head do %>
		<%= javascript_include_tag :steps %>
		<%= javascript_include_tag :glossary %>
		<%= javascript_include_tag :comments %>
	<% end %>
</head>

<body onload="setupCommentBox();">
<%= render 'nav_bar' %>


<!--Tabs-->
<div id="pageContent">
<h1 id="title"><%= @project.name %></h1>
	<div id="tabs">
		<div id="actualTabs">
		<ul>
			<%= link_to project_path(@project,:part => "overview") do %>
				<li id="tabOverview">Overview</li>
			<% end %>
			<%= link_to project_path(:name => @project.name,:part => "instructions") do %>
				<li id="tabInstructions" class="projectActiveTab">Instructions</li>
			<% end %>
			

		</ul>
		</div>
		<div id = "instructionsExtras">
			<div id="instructionsAccordion">
				<h5>Jump to step</h5>
				<%= render "projects/"+@project.name+"/sidestepnav" %>	
			</div>
			<div id = "stepNavigationHelp">
				<p>Tip: You can use the left and right arrow keys to navigate between steps.</p>
			</div>
		</div>
		
	</div>

	<!-- replaces tab content -->
	<%= render "projects/"+@project.name+"/"+@part %>

	<div class="clearFloat"></div>
	</div>
</body>
</html>