<!--http://apidock.com/rails/ActionView/Helpers/UrlHelper/link_to-->
<div id="navBar" class="primarySiteColor">
	<div id="navBarLeft">
		<!--img id="logo" src="/logo.png"/-->
		<% if current_user == nil %>
			<%= link_to image_tag("/logo.png", :id=>"logo"),home_static_pages_path %>
		<% else %>
			<%= link_to image_tag("/logo.png", :id=>"logo"),dashboard_static_pages_path %>
		<% end %>
	</div>
	<div id="navBarRight">
		<h3 class="navText">
			<% if current_user != nil%>
				<%= link_to "Dashboard ", dashboard_static_pages_path, :class => "noUnderline whiteText" %>|
			<% end %>
			<%= link_to " Project Search ", project_search_static_pages_path, :class => "noUnderline whiteText" %>|
			<%= link_to " Sewing Basics ", sewing_help_static_pages_path, :class => "noUnderline whiteText" %>|
			<%= link_to "About ", about_static_pages_path, :class => "noUnderline whiteText" %>
			<% if current_user != nil%>
				| <%= link_to "Log out", session_path(:session_id), :method => :delete, :class => "noUnderline whiteText" %>
			<% else %>
				| <%= link_to "Log in", home_static_pages_path, :class => "noUnderline whiteText" %>
			<% end %>
		</h3>
	</div>
	<div class="clearFloat"></div>
</div>
